@model ForumBash.Service.BashModelHome

<script src="/Scripts/ru.home.js"></script>
@Html.Hidden("CurrentView", @Model.Status)
<div id="statusfilter" class="statuspanel fg-white">
    <div id="status-All" class="tile half opacity status-All">All</div>
    <div id="status-Active" class="tile half opacity status-Active">Active</div>
    <div id="status-Assigned" class="tile half opacity status-Assigned">Assigned</div>
    <div id="status-Resolved" class="tile half opacity status-Resolved">Resolved</div>
    <div id="status-Closed" class="tile half opacity status-Closed">Closed</div>
    <div id="status-Irrelevant" class="tile half opacity status-Irrelevant">Irrelevant</div>
</div>