body {
    padding-bottom: 20px;
    background-color: dimgrey;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.text-count {
    /*text-align: center;*/
    /*line-height: 255px;*/
    font-size: small;
}

.text-itemtitle {
    /*text-align: center;*/
    /*line-height: 255px;*/
    font-size: large;
}

.metro .tile.long {
    width: 90%;
}

.statuspanel .tile.half {
    height: 25px;
}

.statuspanel {
    display: inline-block;
}

.status-All {
    background-color: blue !important;
}

.status-Active {
    background-color: #e51400 !important;
}

.status-Assigned {
    background-color: #f0a30a !important;
}

.status-Resolved {
    background-color: #128023 !important;
}

.status-Closed {
    background-color: brown !important;
}

.status-Irrelevant {
    background-color: gray !important;
}
